app = 'fupi'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 7860
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  max_machines_running = 1
  [http_service.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 25

[vm]
  memory = '4gb'
  cpu_kind = 'performance'
  cpus = 2

[mounts]
  source = "fupi_data"
  destination = "/tmp"
  initial_size = "10GB"
